.bg-color {
    background-color: #E9ECEF;
}
.text-position {
    text-align: center;
}
.urunlerimiz-baslik {
 font-size: 50px;
 font-family: Arial, Helvetica, sans-serif;
 color: aqua;
}
.ana-sayfa {
    color: antiquewhite;
}